# Download data


NCEI Direct Download link -> https://www.ncei.noaa.gov/metadata/geoportal/rest/metadata/item/gov.noaa.ncdc:C00947/html 


First download the archive file and expand it in the data/NCEI directory.

In [1]:
import pandas as pd
import numpy as np
import os

In [7]:
LIMIT = 10

def load_data(path_to_data):
    


    dataframes = []
    count = 0
    
    for fname in os.listdir(path_to_data):

        count += 1
        if count >= LIMIT:
            break

        if not fname.endswith('.csv'):
            continue 

        country_name = fname[:2]
        print("FIPS country code:", country_name)

        data_file_path = os.path.join(path_to_data, fname)

        df = pd.read_csv(data_file_path)
        df['country_name_FIPS'] = country_name
        dataframes.append(df)
    


    return dataframes

In [8]:

DATA_PATH = 'data/NCEI/gsoy-latest'
dfs = load_data(DATA_PATH)

FIPS country code: US
FIPS country code: CA
FIPS country code: US
FIPS country code: US
FIPS country code: BR
FIPS country code: LH
FIPS country code: BR
FIPS country code: US
FIPS country code: BR

In [9]:
dfs[0]

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,DP01,DP01_ATTRIBUTES,DP10,DP10_ATTRIBUTES,...,EMSD_ATTRIBUTES,EMSN,EMSN_ATTRIBUTES,EMXP,EMXP_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,country_name_FIPS
0,USC00401946,1949,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",112,0,95,0,...,",0,0131,",51.0,",0,0131,",78.7,",0,0105,",1431.3,",0",51.0,",0",US
1,USC00401946,1950,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",127,0,105,0,...,",0,1124,",74.0,",0,1124,",54.1,",0,0313,",1493.7,",0",107.0,",0",US
2,USC00401946,1951,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",105,0,85,0,...,NaN,NaN,NaN,73.7,",0,0201,",1466.8,",0",NaN,NaN,US
3,USC00401946,1952,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",91,0,75,0,...,NaN,NaN,NaN,68.8,",0,0311,",1110.3,",0",NaN,NaN,US
4,USC00401946,1953,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",100,0,75,0,...,NaN,NaN,NaN,96.0,",0,0718,",1219.5,",0",NaN,NaN,US
5,USC00401946,1954,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",90,0,74,0,...,NaN,NaN,NaN,94.0,",0,0121,",1213.5,",0",NaN,NaN,US
6,USC00401946,1955,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",98,0,84,0,...,NaN,NaN,NaN,50.3,",0,0206,",1272.0,",0",NaN,NaN,US
7,USC00401946,1956,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",98,0,82,0,...,NaN,NaN,NaN,116.8,",0,1213,",1661.7,",0",NaN,NaN,US
8,USC00401946,1957,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",129,0,106,0,...,NaN,NaN,NaN,74.9,",0,1119,",1689.6,",0",NaN,NaN,US
9,USC00401946,1958,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",105,0,83,0,...,NaN,NaN,NaN,50.8,",0,0429,",1048.2,",0",NaN,NaN,US
10,USC00401946,1959,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",101,0,87,0,...,NaN,NaN,NaN,82.8,",0,0725,",1350.9,",0",NaN,NaN,US
11,USC00401946,1960,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",91,0,78,0,...,NaN,NaN,NaN,83.8,",0,0917,",1315.6,",0",NaN,NaN,US
12,USC00401946,1961,35.51667,-85.28333,264.9,"COLLEGE JUNCTION, TN US",88,0,75,0,...,NaN,NaN,NaN,65.3,",0,1217,",1346.0,",0",NaN,NaN,US